[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/saksham/Desktop/Elegance Rainmeter Conky]
row=8
col=0

[/home/saksham/Desktop/Microsoft Outlook 2010.desktop]
row=9
col=0

[/home/saksham/Desktop/Microsoft Powerpoint 2010.desktop]
row=1
col=1

[/home/saksham/Desktop/Microsoft Word 2010.desktop]
row=3
col=1

[/home/saksham/Desktop/Microsoft Excel 2010.desktop]
row=2
col=1

[/home/saksham/Desktop/Microsoft OneNote 2010.desktop]
row=0
col=1

[6C01-C2B8]
row=3
col=0

[D2AA9CCAAA9CAC8B]
row=1
col=0

[478fd147-4408-48f5-9852-db55cf0f08cd]
row=4
col=0

[D0E0061EE0060B82]
row=2
col=0

[780C29050C28BFCC]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/saksham]
row=7
col=0

